/.vscode
/FactBanSync/FactBanSync
/FactBanSync/go.mod
/FactBanSync/logs
/FactBanSync/server-banlist.json
/FactBanSync/server-list.json
/FactBanSync/server-config.json
/FactBanSync/server-list.json.tmp
